.secao{
    width: 700px;
    margin: 20px auto;
    text-align: center;
}

.imagem-logotipo{
    width: 200px;
}

a{
    margin: 0 10px;
    color: #542f0c;
    border: 5px solid orange;
    border-radius: 24px;
    background-color: orange;
    text-decoration: none;
    font-size: 16px;
}

h1{
    font-size: 28px;
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 0;
    border-top: 1px solid #de8e37;
}

h2{
    font-weight: normal;
    color:#de8e37;
    margin-top: 10px;
}

.imagem-banner{
    width: 700px;
    border: 2px solid orange;
    border-radius: 24px;
}

.secao-destaque{
    background-color: #de8e37;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    border: 2px solid orange;
    border-radius: 24px;
}

.secao-destaque h3{
    font-size: 24px;
}

.secao-destaque h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.secao-destaque p{
    width: 500px;
    margin: 0 auto;
    line-height: 30px;
}

.secao-destaque img{
    width: 400px;
}

span{
    font-weight: bold;
}

body{
    background-color: antiquewhite;
}

.rodape{
    border: 1px solid black;
    border-radius: 24px;
}

div{
    font-family: Tahoma;
}

.imagem-produtos{
    border: 2px solid orange;
    border-radius: 24px;
    margin: 10px;
}

